<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><a routerLink='/'>home</a></mat-icon>
  </button>
    <!--  <span>HOME</span> -->
     <span>MUSIX WEBAPP</span>
     <span class="spacer"></span>
     <a mat-button routerLink="/topHits">TopHits</a>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>